@import '../../styles/index.scss';

.boxRotate {
  @include box();

  &:hover {
    @extend %transform-rotate
  }
}

.boxTransform {
  @include box();

  &:hover {
    @include transform();
  }
}

.boxAnimation {
  @include box();

  animation: left-to-right 3s ease-in infinite;
}

@keyframes left-to-right {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 70%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
