@import '../../styles/index.scss';

.basic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: $p-2;

  .box {
    width: 300px;
    height: 300px;
    position: relative;
    @extend %centered-content;
    margin: $m-3;
    text-align: center;
  }

  &__box-shadow {
    background-color: #ffdefc !important;
    @include shadow(15px, 15px, 35px, 10px, rgb(0, 0, 0, 23%));
  }

  &__box-sizing {
    background-color: $pink !important;
    padding: $p-1;

    &_border-box {
      box-sizing: border-box;
    }
    
    &_content-box {
      box-sizing: content-box;
      @include border($white-pink, 20px);
    }
  }

  &__border-title {
    position: absolute;
    top: -30px;
    left: -15px;
    font-size: 12px;
  }

  &__padding-title {
    position: absolute;
    top: -7px;
    right: 5px;
    font-size: 12px;
  }

  &__specifications {
    width: 850px;
    height: 1000px;
    position: relative;

    &__specification {
      position: relative;
      box-sizing: border-box;
      
      &__title {
        position: relative;
        top: 5px;
        left: 7px;
        font-size: 16px;
        margin: 0;
      }
    }

    &__title {
      position: absolute;
      top: 0;
      right: 250px;
    }
  }

  .combinators__container {
    width: 400px;
    height: 320px;
    margin: $m-2;
    padding: $p-2;

    @include border($white-pink, 10px);
  }

  ul > li {
    border-bottom: 3px solid $white-pink;
  }

  h1 + p {
    background-color: $pink;
  }

  h2 ~ p {
    background-color: $pink;
  }
}
