@import './variables.scss';

// extend
//
%centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($color: red, $size: 2px, $type: solid) {
  border: $color $size $type;
}

@mixin shadow($right: 1px, $bottom: 15px, $blur: 25px, $spread: 0px, $color: rgba(0,0,0,0.09)) {
  box-shadow: $right $bottom $blur $spread $color;
}

@mixin box($backgroundColor: $pink, $width: 200px, $height: 200px) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  transition: 0.8s;
  margin: $m-2;

  @include shadow();
  @extend %centered-content;
}

@mixin boxShadow($type: border-box) {
  width: 500px;
  height: 500px;
  padding: 50px;
  background: black;
  border: red solid 20px;
  box-sizing: $type;
}

%transform-rotate {
  transform: rotate(70deg);
  transition: 0.8s;
}

@mixin transform($left: 50px, $top: 30px) {
  transform: translate($left, $left);
  transition: 0.8s;
}
