@import '../../styles/index.scss';

.button {
  height: 40px;
  padding: 1px 30px;
  border-radius: 25px;
  transition: 0.1s;
  background: $white-pink;
  border: $pink solid 1px;
  @include shadow(5px, 5px, 20px, 0px, rgba(0,0,0,0.25));

  .timer {
    border: $pink solid 2px;
    padding: 3px 7px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &:hover {
    padding: 2px 31px;
    background: $pink;

    .timer {
      border: white solid 2px;
    }
  }
}

.buttonWrapper {
  height: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
}
