.App {
  height: 100vh;

  display: flex;
  justify-content: center;
}

.container {
  width: 100px;
  height: 100px;

  position: relative;

  margin: auto;
  border: red solid 1px;
}

// .item {
//   width: 40px;
//   height: 40px;

//   position: absolute;

//   border-radius: 50%;
// }

.circle {
  width: 20px;
  height: 20px;
  position: absolute;

  border-radius: 50%;
}

.red {
  top: 0;
  left: 0;

  background-color: red;

  animation: Red-circle infinite 2s ease;
}

.green {
  top: 0;
  right: 0;

  background-color: green;

  animation: Green-circle infinite 2s ease;
}

.blue {
  bottom: 0;
  left: 0;

  background-color: blue;

  animation: Blue-circle infinite 2s ease;
}

.yellow {
  bottom: 0;
  right: 0;

  background-color: yellow;

  animation: Yellow-circle infinite 2s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 2s ease;
}

@keyframes Red-circle {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    transform: translate(60px, 60px);
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes Green-circle {
  0% {
    transform: translate(0, 0);
  }

  25% {
    opacity: 0.5;
  }

  50% {
    transform: translate(-60px, 60px);
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes Yellow-circle {
  0% {
    transform: translate(0, 0);
  }

  25% {
    opacity: 0.5;
  }

  50% {
    transform: translate(-60px, -60px);
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes Blue-circle {
  0% {
    transform: translate(0, 0);
  }

  25% {
    opacity: 0.5;
  }

  50% {
    transform: translate(60px, -60px);
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
  }
}

// flex

.items {
  position: relative;
  height: 200px;
  width: 90%;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -45%;
  border: red solid 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item {
    height: 100px;
    border: green solid 1px;
    flex-shrink: 3;
    // flex-grow: 2;
    flex-basis: 150px;
    margin: 10px;
  }

  div {
    border: 2px blue solid;
  }

  // #item {
  //   border: 2px black solid;
  // }

  .item:first-child {
    flex-shrink: 1;
    border: 2px red solid;
    // flex-grow: 1;
  }

  .item::before {
    position: absolute;
    left: -30px;
    content: '====';
    color: red;
  }

  .item::after {
    position: absolute;
    left: 163px;
    content: '====';
    color: green;
  }

  .item:last-child {
    border: black solid 2px;
  }
}
